@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-text");

:root {
  --bgColor: #fbfbfb;
  --whiteColor: #fff;
  --appBgColor: #9e9ea7;
  --textColor: #1d3557;
  --radius: 0.5rem;
  --redColor: red;
  --primaryFont: "Neue Haas Grotesk Text", sans-serif;
}

.app {
  padding-top: 0.5rem;
  background: var(--bgColor);
  min-height: 100vh;
}

.loading-spinner {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-form {
  margin-top: 1rem;
  padding-inline: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-form input {
  width: 100%;
  height: 40px;
  letter-spacing: 1px;
  border-radius: var(--radius);
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--textColor);
}
.error-text {
  color: var(--redColor);
  font-size: 1.2rem;
  align-self: flex-start;
  visibility: hidden;
}

.show-error {
  visibility: visible;
}

.location-form button {
  display: inline-block;
  margin-top: 2rem;
  height: 60px;
  width: 200px;
  border-radius: var(--radius);
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

@media screen and (min-width: 768px) {
  .location-form {
    padding-inline: 25%;
  }
}

.temp-unit-container {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  border-radius: var(--radius);
}
.temp-unit-container select {
  width: 120px;
  height: 50px;
  font-size: 1rem;
  border-radius: var(--radius);
  background: var(--textColor);
  color: var(--whiteColor);
  outline: none;
  cursor: pointer;
}

.weather-details {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding: 1rem;
  height: 250px;
  border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.weather-info h2 {
  color: var(--textColor);
  font-size: 2rem;
}
.weather-details p {
  color: var(--appBgColor);
  font-size: 1.2rem;
}

.weather-icon img {
  color: red;
}
